.card {
    margin: 0 0 5vh 0 ;
    display: flex;
    flex-direction: row;
        &:hover {
          background-color: #CCE5FF;
          opacity: 0.9
    }
}

.imgWrapper{
    align-self: center;
    .img {
        height: 7rem;
    }
}